name: CI

on: [push]

jobs:
  test:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        os:
          - name: freebsd
            architecture: x86-64
            version: '15.0'

          - name: openbsd
            architecture: x86-64
            version: '7.8'

          - name: openbsd
            architecture: arm64
            version: '7.8'

          - name: netbsd
            architecture: x86-64
            version: '10.1'

          - name: netbsd
            architecture: arm64
            version: '10.1'

          - name: haiku
            architecture: x86-64
            version: 'r1beta5'

          - name: omnios
            architecture: x86-64
            version: 'r151056'

    steps:
      - uses: actions/checkout@v6

      - name: Test on ${{ matrix.os.name }}
        uses: cross-platform-actions/action@v0.32.0
        env:
          MY_ENV1: MY_ENV1
          MY_ENV2: MY_ENV2
        with:
          environment_variables: MY_ENV1 MY_ENV2
          operating_system: ${{ matrix.os.name }}
          architecture: ${{ matrix.os.architecture }}
          version: ${{ matrix.os.version }}
          shell: bash
          memory: 5G
          cpu_count: 4
          run: |
            uname -a
            echo $SHELL
            pwd
            ls -lah
            whoami
            env | sort
